@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --font-primary: Roboto, sans-serif;
    --color-yellow: #FFB800;
    --color-yellow-img: #FFC42A;
    --color-red: #F74316;
    --color-grey: #E5E5E5;
}

html, 
* {
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}

.wrapper {
    flex-direction: column;
    height: 100vh;
    width: 40vw;
    margin: 0 40px;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    padding: 10px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px ;
}

header .logo {
    position: relative;
    background-image:  linear-gradient(to right ,var(--color-yellow) 45%, var(--color-red));
    width: 42px;
    height: 43px;
}

header .logo .inner-logo {
    position: absolute;
    background-color: #fff;
    width: 19px;
    height: 19px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

header .nav {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 10px;
    font-weight: 700;
    font-size: 24px;
    color: #262626;
}

header .nav a {
    text-decoration: none;
    color: #262626;
}

/* Buttons up the main content */

.botons-up {
    display: flex;
    width: 331px;
    height: 38px;
    background-color: var(--color-grey);
    border-radius: 10px;
}

.botons-up button {
    font-weight: 700;
    background-color: transparent;
    text-align: center;
    font-size: 19px;
}

.botons-up .first {
    background-color: var(--color-yellow);
    border-radius: 10px;
    width: 182px;
    color: #fff;
}

.botons-up .second {
    margin: auto;
}

/* Content text */

.content h1 {
    font-size: 55px;
    line-height: .4;
}

.content p {
    width: 400px;
}

/* Bottun Down */

.content .down-button {
    width: 219px;
    height: 59px;
    background-image: linear-gradient(to right, var(--color-yellow) 45%, var(--color-red));
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    margin-top: 20px;
    text-transform: capitalize;
}

/* Img Section */

.img-section {
    background-color: var(--color-yellow-img);
    border-radius: 30px;
}

.img-section img {
    max-width: 600px;
    max-height: 700px;
}

/* Media Queries */

@media screen and (max-width: 1205px) {
    .container {
        flex-wrap: wrap;
    }

    .wrapper {
        width: 100vw;
    }

    .img-section {
        width: 100vw;
    }
    .img-section img {
        display: block;
        width: 550px;
        height: 650px;
        margin: auto ;
    }
    .wrapper {
        height: 60vh;
    }
}

@media screen and (max-width:1024px) {
    .wrapper {
        height: 100vh;
    }
    .img-section {
        margin-top: 20px;
    }
}

@media screen and (max-width: 912px) {
    .wrapper {
        height: 60vh;
    }
}

    @media screen and (max-width:605px) {
        .container {
            padding: 0px;
           
        }
        .wrapper {
            height: 100vh;
        }
    }
    
    @media screen and (max-width:582px) {
        header .nav {
            flex-direction: column;
        }
        .container {
            gap: 100px;
        }        
    }

    @media screen and (max-width:563px) {
        .img-section img {
            width: 50vw;
            height: 50vh;
        }
    }

    @media screen and (max-width: 476px){
        .wrapper {
            margin: 0 8px;
        }
    }

    @media screen and (max-width: 419px ){

        header .nav {
            font-size: 15px;
        }

        .content h1 {
            font-size: 40px;
        }
        .content p {
            width: 350px;
        }
        .wrapper {
            height: 75vh;
        }
    }
